<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{title}}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>Admin Index</h3>
            <div>
                <ul>
                    <li><a href="http://{{host}}/customers">Customers</a></li>
                    <li><a href="http://{{host}}/maintenances">Maintenances</a></li>
                    <li><a href="http://{{host}}/transactions">Transactions</a></li>
                    <li><a href="http://{{host}}/vehicles">Vehicles</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
